/* Reset CSS */
* {
    margin: 0;

    box-sizing: border-box;
  }
  
  /* Default styles */
  body {
    background: #393939;
    font-family: system-ui;
  }
  
  .parallax {
    background-image: url(images/main/bg.jpg);
    height: max-content;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .page-title {
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 50px;
    font-variant: small-caps;
    font-size: 100px;
    font-family: fantasy;
    letter-spacing: 20px;
  }
  
  .logo img {
    float: left;
    width: 180px;
    height: 180px;
    margin-top: 35px;
    margin-left: 10px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .menu {
    background: #d2d2d2a4;
    text-align: center;
  }
  
  .menu ul {
    margin: 0;
    padding: 0;
    display: inline;
  }
  
  .menu ul li {
    font-size: 17px;
    list-style: none;
    display: inline-block;
    padding: 25px;
  }
  
  .a-menu {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  
  .menu-ul li:hover {
    background: #1cc11a;
    transform: scale(1.1);
  }
  
  .dropdown {
    position: relative;
    z-index: 2;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #929292;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 23px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content a:hover {
    background: #1cc11a;
    color: white;
  }
  
  
  /* Hamburger menu styles */
  .menu-toggle {
    margin-top: 12px;
    display: none;
    cursor: pointer;
    position: relative;
    z-index: 1000; 
  }
  
  /*responsive for all devices*/
  
  
  @media screen and (max-width: 768px) {
    .menu ul {
        display: none;
    }
  
    .menu {
        overflow: hidden;
        height: auto;
        max-height: none;
    }
  
    .menu ul li {
        display: block;
        text-align: center;
        padding: 10px 0;
    }
  
    .menu .a-menu {
        display: block;
        text-decoration: none;
        color: black;
    }
  
    .menu .a-menu:hover {
        background-color: #ddd;
    }
  
    .dropdown-content {
        margin-top: 0;
    }
  
    .dropdown {
        display: block;
    }
  
    .menu-toggle {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 24px;
    }
  
    .menu-ul {
        display: none;
        background: #d2d2d2d1;
        position: absolute;
        top: 60px;
        width: 100%;
        z-index: 999; 
    }
  
    .menu-ul.active {
        display: block;
    }
  
    /* Adjustments for mobile view */
    .logo img {
        width: 100px;
        height: 100px;
        margin-top: 10px;
        margin-left: 5px;
    }
  
    .page-title {
        padding: 20px;
        font-size: 40px;
    }
  
    .parallax {
        background-attachment: scroll; 
    }
  }

  /* Product Heading */
.product-heading {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 2rem; 
  color: #ffffff;
  margin-top: 50px; 
  margin-bottom: 20px;   
}

.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-auto-rows: auto;
  grid-gap: 30px;
  align-items: center;
  justify-content: center;
  margin: 0 auto; 
  padding: 0 20px; 
}
.product-box {
  width: 100%;
  height: 315px; 
  border-radius: 20px;
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 15px;
  align-items: center;
}

.product-box img {
  width: 80%;
  height: 140px; 
  object-fit: contain;
  object-position: center;
  margin: auto;
}

.product-box strong {
  color: #202020;
  font-size: 1rem; 
  letter-spacing: 1px;
  font-weight: 600;
  margin-top: 10px;
  display: block;
}

.product-box .quantity {
  color: #363333;
  font-size: 0.7rem; 
  font-weight: 500;
  letter-spacing: 1px;
  display: block;
  margin-top: 5px;
}

.product-box .price {
  margin-top: 5px; 
  font-weight: 600;
  font-size: 1.2rem; 
  color: #000000;
  display: block;
}

.product-box .product-quantity {
  width: 50%;
  margin-top: 5px;
  padding: 3px; 
  border-radius: 5px;
  border: 1px solid #454343df;
}
.product-box .cart-btn {
  width: 100%;
  height: 35px;
  background-color: #2d6a4f; 
  color: #ffffff; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease 0.3s;
}


.product-box .cart-btn:hover {
  background-color: #1a4d29; 
  color: #ffffff; 
}

.cart {
    margin: 50px auto;
    width: 80%;
    text-align: center;
}
.cart-table th {
  background-color: #000000; 
  color: #ffffff; 
  font-family: 'Poppins', sans-serif; 
  font-weight: 700; 
  font-size: 1.2rem; 
}

.cart h2{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 2rem; 
  color: #ffffff;
  margin-top: 50px; 
  margin-bottom: 20px;  

}
.cart-table {
    width: 100%;
    border-collapse: collapse;
}

.cart-table th, .cart-table td {
    border: 1px solid #ffffff;
    padding: 10px;
    text-align: center;
}
.cart-table tr,th{
  color: #ffffff;
}
.cart-total {
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
}

/*favourite button*/

.favourite-button {
  margin-top: 20px;
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.4s;
  border-radius: 10px;
}

.favourite-button:hover {
  background-color: rgb(0, 74, 0);
}

/*proceed-button*/
.proceed-button {
  display: block;
  width: 280px;
  margin: 20px auto;
  border-radius: 5px;
  padding: 10px 0;
  background-color: rgb(190, 12, 12);
  color: white;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.proceed-button:hover {
  background-color: rgb(0, 199, 0);
}


/* Responsive layout */
@media only screen and (max-width: 768px) {
  .product-container {
      grid-template-columns: repeat(2, 1fr); 
  }
}

@media only screen and (max-width: 480px) {
  .product-container {
      grid-template-columns: 1fr; 
  }
}

/*divider line*/
.divider {
  border: 0;
  border-radius: 10%;
  height: 2px;
  background-color: #ffffff;
  margin: 50px 50px; 
}


/*----------------footer------------*/


footer {
  background: linear-gradient(to right, #096101,#004309, #004309,#096101);
    padding: 1.5rem 1.5rem;
    border-top: 5px solid #4eb060;
    color: #ffffff;
    margin-top: 40px;
    width: 100%;
    box-sizing: border-box; 
  }
  
  /* Media query for tablet and desktop screens */
  @media (min-width: 768px) {
    footer {
      padding: 1.5rem 3rem; 
    }
  
    .footer-container {
      margin-bottom: 10px; 
    }
  }
  
  .footer-container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
  }
  
  /* Media query for mobile screens */
  @media (max-width: 560px) {
    .footer-container {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  
    .footer-content {
      align-items: center;
      margin-bottom: 20px;
    }
  
    .footer-links, .footer-payment {
      text-align: left;
      width: 100%;
    }
  
    .footer-links ul {
      text-align: left;
    }
  
    .footer-payment .payment-icons {
      justify-content: flex-start;
    }
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; 
  }
  
  .footer-logo img {
    width: 150px;
    height: auto;
    max-width: 100%;
  }
  
  .footer-social {
    display: flex;
    margin-top: 10px;
  }
  
  .footer-social a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border: 1px solid #b5b2b215;
    font-size: 1.2rem;
    margin: 0 8px;
    transition: all 0.3s ease;
  }
  
  .footer-social a:hover {
    color: #000000; 
    background-color: #ffffff;
    transform: scale(1.1);
  }
  
  .footer-links {
    flex: 1;
    margin-bottom: 20px; 
  }
  
  .footer-links strong {
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 600;
  }
  
  .footer-links ul {
    margin-top: 10px;
    padding-left: 0;
  }
  
  .footer-links ul li a {
    color: #ffffff;
    opacity: 0.8;
    margin: 8px 0;
    font-size: 1rem;
    letter-spacing: 1px;
    transition: opacity 0.3s ease, color 0.3s ease; 
  }
  
  .footer-links ul li a:hover {
    opacity: 1;
    color: #000000; 
  }
  
  
  .footer-payment {
    flex: 1;
    margin-bottom: 20px; 
  }
  
  .payment-icons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .payment-icons img {
    width: 40px;
    max-width: 100%;
    transition: transform 0.3s ease;
  }
  
  .payment-icons img:hover {
    transform: scale(1.1);
  }
  
  /* Media query for mobile screens */
  @media (max-width: 480px) {
    .payment-icons img {
      width: 40px;
      margin-right: 5px;
    }
  }
  
  
  /* Copyright section */
  .footer-copyright {
    background-color: #000000;
    text-align: center;
    padding: 0.5rem 0;
    font-size: 0.9rem;
    margin-top: 10px; 
  }
  
  .footer-copyright p {
    margin: 0;
    color: #ffffff;
  }