body {
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 255, 255));
    font-family: 'Poppins', sans-serif;
}

.heading2 {
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    color: #000000;
    margin: 20px 0;
}

.orderform {
    width: 100%;
    padding: 20px;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background: linear-gradient(to right, rgb(149, 149, 149), rgb(212, 209, 209));
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: 3px solid rgb(0, 0, 0);
}

.order-total {
    margin-bottom: 1rem;
    text-align: center;
    font-weight: bold;
    color: #c01313d8;
}

.payment-details h3 {
    margin-top: 1rem;
    text-align: center;
    color: #072905;
}

form {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 70px; /* Add gap between left and right columns */
}

.form-column {
    flex-basis: 48%;
    display: flex;
    flex-direction: column;
}

form label {
    display: block;
    margin-top: 0.5rem;
}

form input[type="text"], form input[type="email"], form input[type="number"], form select {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    outline: none;
    box-sizing: border-box; /* Ensure padding does not affect width */
}

.pay-now-button {
    width: 50%;
    padding: 0.7rem;
    background: #007220;
    color: white;
    border: none;
    outline: none;
    margin-top: 1rem;
    cursor: pointer;
    text-align: center;
}

.pay-now-button:hover {
    background: #045617;
}

@media only screen and (max-width: 770px) {
    .container {
        flex-direction: column;
    }

    .form-row {
        flex-direction: column;
    }

    .form-column {
        width: 100%;
        margin-bottom: 1rem;
    }

    .pay-now-button {
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    .heading2 {
        font-size: 1.5rem;
    }
    
    form input, form select {
        padding: 0.3rem;
    }
    
    .pay-now-button {
        padding: 0.5rem;
    }
}
