body {
    background: hsl(0, 3%, 70%); 
    font-family: 'Poppins', sans-serif;
    color: #333; 
}

/*order summary table*/
.order-summary {
    margin: 50px auto;
    width: 80%;
    text-align: center;
}
.order-summary h3{
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    color: #007220; 
}
.order-summary-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff; 
    
   
}

.order-summary-table th {
    background-color: #007220; 
    color: #ffffff; 
    font-weight: 700;
    font-size: 1.2rem;
}

.order-summary-table th, .order-summary-table td {
    border: 1px solid #000000; 
    padding: 10px;
    text-align: center;
}

.order-summary-table tr:nth-child(even) {
    background-color: #f9f9f9; 
}

.order-summary-table tr:nth-child(odd) {
    background-color: #fff;
}

/*order form*/
.heading2 {
    text-align: center;
    font-weight: 700;
    margin-top: -60px;
    font-size: 2rem;
    color: #007220; 
    
}

.orderform {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background: #ffffff; 
    max-width: 800px;
    width: 100%;
    padding: 2rem;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border: 1px solid #ddd; 
}


form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px; 
}

.form-column {
    flex-basis: 48%;
    display: flex;
    flex-direction: column;
}

form label {
    display: block;
    margin-top: 0.5rem;
    font-weight: bold; 
}

form input[type="text"], form input[type="email"], form input[type="number"], form select {
    width: 80%;
    padding: 0.8rem;
    margin-top: 0.5rem;
    border: 1px solid #ddd; 
    border-radius: 5px; 
}

.pay-now-button {
    width: 50%;
    padding: 0.7rem;
    background: #007220; 
    color: white;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
    margin-top: 1rem;

}

.pay-now-button:hover {
    background: #005a1e; 
}

@media only screen and (max-width: 770px) {
    .container {
        flex-direction: column;
      
    }

    .form-row {
        flex-direction: column;
    }

    .form-column {
        width: 100%;
        
    }

    .pay-now-button {
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    .heading2 {
        font-size: 1.5rem;
    }
    
    form input, form select {
        padding: 0.5rem;
    }
    
    .pay-now-button {
        padding: 0.5rem;
        font-size: 0.9rem;
    }
}
